[submodule "third-party/ceedling"]
	path = third-party/ceedling
	url = https://github.com/ThrowTheSwitch/Ceedling.git
[submodule "third-party/freertos"]
	path = third-party/freertos
	url = https://github.com/aws/amazon-freertos.git
